TZ=UTC
NODE_ENV=development
PORT=3001
PG_CONNECTION_STRING=postgres://root:root@127.0.0.1:5432/starterkit
JWT_LOGIN_SECRET=notSoSecretChangeMe
JWT_LOGIN_EXPIRES=1d
CLIENT_BASE_URL=http://localhost:8080
APP_BASE_URL=http://localhost:3001
SMTP_CONNECTION_STRING=smtp://project.1:secret.1@localhost:1025
SENDER_EMAIL='"starterkit" <starterkit@wecraftapps.com>'
SENTRY_DSN=https://xxxx@xxx.ingest.sentry.io/xxx
SENTRY_ENVIRONMENT=
SENTRY_RELEASE=
SENTRY_TRACES_SAMPLE_RATE=
KNEX_POOL_MAX=10
KNEX_POOL_MIN=1
