:root {
  --color-primary: rgb(157, 0, 188);
  --color-second: rgb(110, 0, 227);
  --color-main-background: #eee;
  --color-main-flat: #fff;
  --color-main-line: #222;
  --global-border-radius: 8px;
}


html.dark{
  color-scheme: dark;

  --color-main-background: #222;
  --color-main-flat: #444;
  --color-main-line: #fff;
}
